body {background-color:tan; font-family:arial;}
     display:flex;
     align-items: center;
     justify-content: center;
}
.maindiv {
  background-color:white; color:hwb(16 3% 25%);
  width:300px; padding: 20px; 
  border-radius: 25px; 
  font-weight: bold;
}
h1{font-family:verdana;
  color:#d7420b;
}
/*curve corners of the boxes*/
.curvCornr{
border:1px solid black;
border-radius: 5px;
}
/*Remove arrows of ammount input box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
button{
background-color:skyblue;
}
footer {
font-size: 0.75em;
color: black;
}


